* {
    margin: 5;
    padding: 5
}

body {
    font: 12px/14px Verdana, Tahoma, Arial, Helvetica, sans-serif;
    color: #666666;
    min-width: 850px;
}

h1 {
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #996600;
    padding: 10px;
    color: #fff;
    border: 1px solid #000;
}

form {
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffd75d;
    padding: 10px;
    color: #000;
    border: 1px solid #000;
}

pre {
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #000;
    padding: 10px;
    color: #fff;
    border: 1px solid #000;
}

.hourpres {
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffcc;
    padding: 2px;
    border: 1px solid #000;
    text-align: center;
}

.hourpre {
    font-size: 9px;
}

.hourdate {
    font-size: 8;
}

.hourtemp {
    font-size: 9;
    font-weight: bold;
}

#text {
    margin: 50px auto;
    width: 500px
}

.hotspot {
    color: #900;
    padding-bottom: 1px;
    border-bottom: 1px dotted #900;
    cursor: pointer
}

#tt {
    position: absolute;
    display: block;
    background: url(/images/tt_left.gif) top left no-repeat
}

#tttop {
    display: block;
    height: 5px;
    margin-left: 5px;
    background: url(/images/tt_top.gif) top right no-repeat;
    overflow: hidden
}

#ttcont {
    display: block;
    padding: 2px 12px 3px 7px;
    margin-left: 5px;
    background: #666;
    color: #FFF
}

#ttbot {
    display: block;
    height: 5px;
    margin-left: 5px;
    background: url(/images/tt_bottom.gif) top right no-repeat;
    overflow: hidden
}